langchain
langchain-core
langchain-community
langchain-ollama
langchain-huggingface
langchain-text-splitters
langchain-classic
faiss-cpu
torch
sentence-transformers
rank_bm25
streamlit
pypdf
pandas
numpy
tqdm
pydantic
pydantic-settings
python-dotenv
